header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #eee;
}

main {
    padding: 1em;
}

h2 {
    margin-bottom: 0.5em;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.product img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}